@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');



.item{
    
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}.Childitem{
    width: 65%;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
 }.Childitem__Img{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }.Childitem__Img > div{
    margin-top: 30px;
 
    
    width: 80%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;  
   }
   .Childitem__Img > a{
    width: 80%;
    height: 50px;
    background-color: rgb(253,167,117);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
   }
  .Childitem__InfoTitles{

    width: 80%;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }

  .Childitem__TitleName{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-start;
  }.Childitem__TitleName >h1{
    font-family: 'Inter', sans-serif;
    border-left: solid 5px rgb(253,167,117);
    padding-left: 10px;
  }